:root {
  --c-pink: #fa33fa;
  --c-violet: #371542;
  --c-blue: #194d91;
  --c-yellow: #fffe45;
}

.gradient-bg {
  background-image: linear-gradient(135deg, var(--c-violet), var(--c-blue));
}

.gradient-text {
  background-image: linear-gradient(45deg, var(--c-pink), var(--c-yellow));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-card {
  height: 100%;
}
