{{ define "main" }}
{{ $id := .Params.catId }}
{{ $lang := .Site.Language.Lang }}
{{ $cat := index (where .Site.Data.cats "id" $id) 0 }}
<section class="section">
  <div class="container">
    {{ partial "cat-profile.html" (dict "cat" $cat "lang" $lang "cats" $.Site.Data.cats) }}
    {{ $photos := after 1 $cat.photos }}
    {{ if gt (len $photos) 0 }}
    <div class="cat-gallery mt-5">
      {{ range $url := $photos }}
        <a href="{{ $url }}" data-fslightbox="gallery"><img src="{{ $url }}" alt="{{ index $cat.name $lang }}"></a>
      {{ end }}
    </div>
    {{ end }}
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.4.1/index.min.js"></script>
<script src="/js/cats.js"></script>
{{ end }}
