{{ $cat := .cat }}
{{ $lang := .lang }}

<article class="box cat-hcard" id="cat-{{ $cat.id }}" data-birth="{{ $cat.birth }}" data-sterilized="{{ if $cat.sterilized }}yes{{ else }}no{{ end }}" data-treatment="{{ if (index $cat.treatment $lang) }}yes{{ else }}no{{ end }}">
  <div class="media">
    <div class="media-left">
      <figure class="image is-96x96 cat-thumb">
        <img src="{{ $cat.photo }}" alt="{{ index $cat.name $lang }}" loading="lazy">
      </figure>
    </div>

    <div class="media-content">
      <!-- Top row: name + age -->
      <div class="cat-meta is-flex is-justify-content-space-between is-align-items-center">
        <h3 class="title is-6 mb-0">{{ index $cat.name $lang }}</h3>
        <span class="is-size-7 has-text-grey cat-age"></span>
      </div>

      <!-- 2-line clamped description -->
      <p class="cat-desc is-size-7">
        {{ index $cat.description $lang }}
      </p>

      <!-- Compact tags row -->
      <div class="tags are-small mt-1">
        {{ if $cat.sterilized }}
          <span class="tag is-success is-light">{{ i18n "filterSterilized" }}</span>
        {{ else }}
          <span class="tag is-warning is-light">{{ i18n "filterNotSterilized" }}</span>
        {{ end }}

        {{ $t := index $cat.treatment $lang }}
        {{ if $t }}<span class="tag is-danger is-light">{{ $t }}</span>{{ end }}

        <span class="tag is-light">{{ i18n (printf "gender%s" (title $cat.gender)) }}</span>

        {{ range $tag := $cat.tags }}
          <span class="tag is-link is-light">{{ $tag }}</span>
        {{ end }}
      </div>
    </div>
  </div>
</article>
