{{ $cat := .cat }}
{{ $lang := .lang }}
{{ $cats := .cats }}
{{ $avatar := index $cat.photos 0 }}
<div class="box cat-card" id="cat-{{ $cat.id }}" data-year="{{ substr $cat.birth 0 4 }}" data-birth="{{ $cat.birth }}" data-sterilized="{{ if $cat.sterilized }}yes{{ else }}no{{ end }}" data-treatment="{{ if (index $cat.treatment $lang) }}yes{{ else }}no{{ end }}">
  <article class="media">
    <figure class="media-left">
      <p class="image is-128x128">
        <img class="cat-photo" src="{{ $avatar }}" alt="{{ index $cat.name $lang }}">
      </p>
    </figure>
    <div class="media-content">
      <p class="title is-4">{{ index $cat.name $lang }}</p>
      <p class="subtitle is-5">{{ index $cat.description $lang }}</p>
      <p class="is-size-7">{{ i18n "age" }}: <span class="cat-age"></span></p>
      <div class="tags mt-2">
        <span class="tag {{ if $cat.sterilized }}is-success{{ else }}is-warning{{ end }}">
          {{ if $cat.sterilized }}{{ i18n "filterSterilized" }}{{ else }}{{ i18n "filterNotSterilized" }}{{ end }}
        </span>
        {{ $t := index $cat.treatment $lang }}
        {{ if $t }}<span class="tag is-danger">{{ $t }}</span>{{ end }}
        <span class="tag is-light">{{ i18n (printf "gender%s" (title $cat.gender)) }}</span>
        <span class="tag is-link cat-category"></span>
        {{ range $id := $cat.parents }}
          {{ $p := index (where $cats "id" $id) 0 }}
          {{ if $p }}
            {{ $key := cond (eq $p.gender "female") "mother" "father" }}
            <a class="tag is-info" href="{{ (printf "/cats/%s" $p.id) | relLangURL }}">{{ i18n $key }}: {{ index $p.name $lang }}</a>
          {{ end }}
        {{ end }}
        {{ $children := where $cats "parents" "intersect" (slice $cat.id) }}
        {{ range $child := $children }}
          {{ $key := cond (eq $child.gender "female") "daughter" "son" }}
          <a class="tag is-info" href="{{ (printf "/cats/%s" $child.id) | relLangURL }}">{{ i18n $key }}: {{ index $child.name $lang }}</a>
        {{ end }}
        {{ if $cat.parents }}
          {{ $siblings := uniq (where (where $cats "id" "ne" $cat.id) "parents" "intersect" $cat.parents) }}
          {{ range $sib := $siblings }}
            {{ $key := cond (eq $sib.gender "female") "sister" "brother" }}
            <a class="tag is-info" href="{{ (printf "/cats/%s" $sib.id) | relLangURL }}">{{ i18n $key }}: {{ index $sib.name $lang }}</a>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </article>
</div>
