<div class="column is-full-mobile is-half-tablet is-one-third-desktop">
    <div class="card project-card">
        {{ if .media }}
        <div class="card-image">
            <figure class="project-media{{ if not (strings.HasSuffix .media ".mp4") }} contain{{ end }}">
                {{ if (strings.HasSuffix .media ".mp4") }}
                <video class="vc-cancelled" autoplay loop muted playsinline src="/media/{{ .media }}"></video>
                {{ else }}
                <img alt="{{ .title }} screenshot" src="/media/{{ .media }}">
                {{ end }}
            </figure>
        </div>
        {{ else }}
        <div class="card-image"></div>
        {{ end }}
        <div class="card-content">
            <p class="title is-5">
                <span class="icon">
                    {{ if eq .icon "tm-icon" }}<span aria-label="Tampermonkey" class="tm-icon" role="img"></span>{{ else }}<i class="{{ .icon }}"></i>{{ end }}
                </span>
                <a href="{{ .repo }}" target="_blank">{{ .title }}</a>
            </p>
            <p class="subtitle is-6">{{ .subtitle }}</p>
            <p class="content">{{ .description }}</p>
            <div class="tags">
                {{ range .tags }}<span class="tag {{ .color }} is-light project-tag" data-tech="{{ .name }}">{{ .name }}</span>{{ end }}
            </div>
        </div>
        <footer class="card-footer">
            <a class="card-footer-item" href="{{ .repo }}" target="_blank">GitHub</a>
        </footer>
    </div>
</div>
